<div class="hero">
  <br /><br /><br /><br /><br /><br /><br />
  <div class="practice-button col-xs-offset-3 col-xs-12 text-center">
    <%= link_to 'Practices', '#', class: "btn btn-primary btn-lg" %>
  </div>
  <br /><br /><br /><br /><br /><br />
  <div class="match-button col-xs-offset-3 col-xs-12 text-center">
    <%= link_to 'Matches', '#', class: "btn btn-primary btn-lg" %>
  </div>
</div>
