<h1>Practice schedule</h1>
<br />
<% @practices.each do |practice| %>
  <% if practice.date != nil && practice.time != nil %>
    <%= practice.date.strftime("%A, %B %d") %>
    <br />
    <%= practice.time.strftime("%I %p").sub(/^[0:]*/,"") %>
    <br /><br />
  <% end %>
<% end %>
