<br /><br />
<div class="col-xs-8 col-xs-offset-2 text-center">
  <h1>Practice schedule</h1>
  <br />
    <% if current_player.captain == true %>
      <%= button_to 'Add a practice', '#', class: "btn btn-warning btn-outline" %>
    <% end %>
  <br /><br />
</div>
<br /><br />

<% @practices.each do |practice| %>
    <% if practice.date != nil && practice.time != nil %>
        <div class="booyah-box col-xs-6 col-xs-offset-3 text-center">
          <%= practice.date.strftime("%A, %B %d") %>
            <br />
            <%= practice.time.strftime("%I %p").sub(/^[0:]*/,"") %>
            <br />
            <%= link_to 'Signup', '#', class: "btn btn-warning btn-outline" %>
        </div>
    <% end %>
<% end %>
