<br /><br />
<div class="col-xs-10 col-xs-offset-1 text-center">
  <h1>Who's going?</h1>
  <h3><%=current_practice.date.strftime("%A, %B %d") %> practice @ <%=current_practice.time.strftime("%I %p").sub(/^[0:]*/,"")%></h3>
  <br /><br />
  <h3>
    <% if current_practice.signups.count == 0 %>
      <i>No one is signed up yet!</i>
    <% end %>
      <% current_practice.signups.each do |signup| %>
        <% if signup.player != nil %>
          <%= signup.player.email %>
        <% end %>
        <br />
      <% end %>
  </h3>
</div>
