@import "bootstrap-sprockets";
@import "bootstrap";

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  height: 700px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
