@import "bootstrap-sprockets";
@import "bootstrap";

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  height: 630px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-image: url('Sports.png')
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.clear {
  clear: both;
}

.navbar {
  height:70px;
  border-radius: 0;
}

.navbar li {
  font-size: 20px;
}

.navbar-brand {
  font-size: 35px;
}

.navbar-brand a {
  text-decoration: none;
}

// customized twitter bootstrap button
.btn {
    padding: 14px 24px;
    // border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
    border: 0 none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
// outline buttons
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-warning.btn-outline:hover {
  background-color: #f9c375;
  border-color: #f9c375;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  // background-image: url('grey.png');
  border: 2px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:26px;
}

hr {
  height: 1px;
  border-top: 1px solid #ccc;
}

.no-link {
  color: black;
}
